[submodule "builtin_plugins/youtube/innertube-qt"]
	path = builtin_plugins/youtube/innertube-qt
	url = https://github.com/BowDown097/innertube-qt
[submodule "plugin_interface/verdigris"]
	path = plugin_interface/verdigris
	url = https://github.com/woboq/verdigris
