/* 2019 menu scaling */
.ytp-settings-menu {
    right: 12px !important;
    bottom: 49px !important;
}

.ytp-popup {
    border-radius: 2px !important;
}

.ytp-panel {
    min-width: 0 !important;
}

.ytp-panel-menu {
    padding: 6px 0 !important;
    width: 100% !important;
}

.ytp-panel-header {
    padding: 6px !important;
    height: 33px !important;
    font-size: 109% !important;
}

.ytp-menuitem {
    height: 33px !important;
}

.ytp-big-mode .ytp-menuitem {
    height: 49px !important;
}

.ytp-menuitem-label {
    font-size: 118% !important;
    font-weight: 500 !important;
    padding: 0 15px !important;
}

.ytp-big-mode .ytp-menuitem-label {
    padding: 0 22px !important;
}

.ytp-menuitem-content {
    padding: 0 15px !important;
}

.ytp-menuitem-icon:not(:empty) {
    padding-left: 0 !important;
}

.ytp-menuitem[role="menuitemradio"] .ytp-menuitem-label {
    text-align: right !important;
}

.ytp-big-mode .ytp-panel-header {
    height: 49px !important;
}

.ytp-big-mode .ytp-panel-title {
    padding: 0 15px !important;
}
/* end 2019 menu scaling */

/* menu icon disabling */
.ytp-menuitem-icon {
    display: none !important;
}
/* end menu icon disabling */

/* heatmap disabling */
.ytp-heat-map-container, .ytp-tooltip-title {
    display: none !important;
}

.ytp-tooltip-text {
    top: 33px !important;
}

.ytp-big-mode .ytp-tooltip-text {
    top: 41px !important;
}
/* end heatmap disabling */

/* 2019 chrome scaling */
.ytp-embed:not(.ytp-big-mode) .ytp-chrome-bottom {
    height: 36px !important;
}

.ytp-embed:not(.ytp-big-mode) .ytp-chrome-controls {
    height: 36px !important;
    line-height: 36px !important;
}

.ytp-embed:not(.ytp-big-mode) .ytp-chrome-controls .ytp-button:not(.ytp-live-badge), .ytp-embed:not(.ytp-big-mode) .ytp-chrome-controls .ytp-replay-button {
    width: 36px !important;
    padding: 0 !important;
}

.ytp-embed:not(.ytp-big-mode) .ytp-progress-bar-container {
    bottom: 35px !important;
}

.ytp-embed:not(.ytp-big-mode) .ytp-time-display, .ytp-embed:not(.ytp-big-mode) .ytp-chapter-container {
    line-height: 35px !important;
}

.ytp-time-display {
    margin-top: 1.5px;
}

.ytp-chapter-container {
    margin-top: 1px;
}
/* end 2019 chrome scaling */

/* top + bottom gradients */
.ytp-gradient-bottom {
    height: 50px !important;
    padding: 0 !important;
    background: linear-gradient(to top, #0009, #0000) !important;
}

.ytp-big-mode .ytp-gradient-bottom {
    height: 75px !important;
}

.ytp-gradient-top {
    display: none !important;
}

.ytp-big-mode .ytp-gradient-top {
    display: block !important;
    height: 75px !important;
    padding: 0 !important;
    background: linear-gradient(to bottom, #0009, #0000) !important;
}
/* top + bottom gradients */

/* general styles */
.ytp-pause-overlay-container {
    display: none !important;
}

.ytp-menuitem-icon:empty {
    display: none !important;
}

.ytp-videowall-still-round-medium .ytp-videowall-still-image {
    border-radius: 0;
}

.ytp-embed:not(.ytp-big-mode) .ytp-popup {
    outline: 0 !important;
}

.ytp-chrome-controls .ytp-button, .ytp-chrome-controls .ytp-replay-button {
    padding: 0 !important;
}

.ytp-embed:not(.ytp-big-mode) .ytp-chrome-controls .ytp-button.ytp-chapter-title,
.ytp-embed:not(.ytp-big-mode) .ytp-chrome-controls .ytp-replay-button.ytp-chapter-title {
    width: 100% !important;
}

.ytp-embed:not(.ytp-big-mode) .ytp-chrome-controls .ytp-button.ytp-mute-button,
.ytp-embed:not(.ytp-big-mode) .ytp-chrome-controls .ytp-replay-button.ytp-mute-button,
.ytp-embed:not(.ytp-big-mode) .ytp-chrome-controls .ytp-button.ytp-next-button,
.ytp-embed:not(.ytp-big-mode) .ytp-chrome-controls .ytp-replay-button.ytp-next-button,
.ytp-embed:not(.ytp-big-mode) .ytp-chrome-controls .ytp-button.ytp-miniplayer-button,
.ytp-embed:not(.ytp-big-mode) .ytp-chrome-controls .ytp-replay-button.ytp-miniplayer-button,
.ytp-embed:not(.ytp-big-mode) .ytp-chrome-controls .ytp-button.ytp-remote-button,
.ytp-embed:not(.ytp-big-mode) .ytp-chrome-controls .ytp-replay-button.ytp-remote-button {
    padding: 0 !important;
}

.ytp-embed:not(.ytp-big-mode) .ytp-chrome-controls .ytp-button[aria-pressed="true"]::after,
.ytp-embed:not(.ytp-big-mode) .ytp-chrome-controls .ytp-replay-button[aria-pressed="true"]::after {
    width: 18px !important;
    left: 9px !important;
    bottom: 6px !important;
    height: 2px !important;
    border-radius: 2px !important;
}

.ytp-chrome-controls .ytp-youtube-button {
    display: none !important;
}

.ytp-embed:not(.ytp-big-mode) .ytp-chrome-controls .ytp-play-button {
    width: 46px !important;
}

.ytp-embed:not(.ytp-big-mode) .ytp-player-content {
    bottom: 53px !important;
}

.ytp-embed:not(.ytp-big-mode) .ytp-player-content:not(.ytp-upnext):not(.html5-endscreen) {
    top: 60px !important;
}

.ytp-embed:not(.ytp-big-mode) .ytp-gradient-bottom {
    height: 49px !important;
    padding-top: 49px !important;
}

.ytp-embed:not(.ytp-big-mode) .ytp-settings-menu {
    bottom: 49px;
    right: 12px;
}

.ytp-big-mode .ytp-settings-menu {
    right: 24px !important;
    bottom: 70px !important;
}

.ytp-embed:not(.ytp-big-mode) .ytp-tooltip.ytp-bottom:not(.ytp-tooltip-opaque),
.ytp-embed:not(.ytp-big-mode) .ytp-tooltip.ytp-preview.ytp-text-detail {
    top: unset !important;
    bottom: 50px;
}

.ytp-big-mode .ytp-tooltip.ytp-preview.ytp-text-detail {
    bottom: 75px !important;
}

.ytp-embed:not(.ytp-big-mode) .ytp-tooltip.ytp-preview:not(.ytp-text-detail) {
    transform: translateY(-29px) !important;
}

.ytp-embed:not(.ytp-big-mode) .ytp-autonav-toggle-button {
    transform: scale(0.9251237) !important;
    top: 11px !important;
}

.ytp-embed:not(.ytp-big-mode) .ytp-skip-intro-button {
    bottom: 50px !important;
    height: 40px !important;
}

.ytp-embed:not(.ytp-big-mode) .ytp-webgl-spherical-control {
    top: 60px !important;
}

.html5-video-player:not(.ytp-autohide) .caption-window.ytp-caption-window-bottom {
    margin-bottom: 49px !important;
}

.html5-video-player:not(.ytp-autohide) .caption-window.ytp-caption-window-bottom svg {
    width: 40px !important;
    height: 40px !important;
}

.html5-video-player:not(.ytp-autohide) .caption-window.ytp-caption-window-bottom .ytp-icon {
    width: 40px !important;
    height: 40px !important;
}

.ytp-menuitem[aria-haspopup="true"] .ytp-menuitem-content {
    padding-right: 38px !important;
}

.ytp-big-mode .ytp-menuitem[aria-haspopup="true"] .ytp-menuitem-content {
    background-position: right !important;
}

.iv-branding {
    display: none;
}

.ytp-swatch-color-white {
    color: red;
}

.ytp-embed:not(.ytp-big-mode) .ytp-chrome-top {
    display: none !important;
}

.ytp-big-mode .ytp-title {
    display: flex !important;
}

.ytp-title-text {
    padding-top: 18px !important;
    padding-left: 6px !important;
}

.ytp-title-channel, .ytp-shorts-title-channel, .ytp-chrome-top-buttons {
    display: none !important;
}
/* end general styles */

/* SponsorBlock styles */
.previewbar {
    display: inline-block;
    height: 100%;
}

#previewbar {
    overflow: visible;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    pointer-events: none;
    height: 100%;
    transform: scaleY(0.6) translateY(-30%) translateY(1.5px);
    z-index: 42;
    transition: transform .1s cubic-bezier(0,0,0.2,1);
}
/* end SponsorBlock styles */
