name: "Build: Windows"

on:
  workflow_call:
    inputs:
      qt_modules:
        description: "Qt modules to use"
        required: true
        type: string
      qt_version:
        description: "Qt version to use"
        required: true
        type: string
      qt_version_major:
        description: "Major Qt version"
        required: true
        type: string

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-2022
            qt_host: windows
            qt_target: desktop
            qt_ver: ${{ inputs.qt_version_major }}
            qt_version: ${{ inputs.qt_version }}
            qt_modules: ${{ inputs.qt_modules }}

    runs-on: ${{ matrix.os }}

    env:
      INSTALL_PORTABLE_DIR: "install-portable"

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - name: Set up MSVC
        uses: ilammy/msvc-dev-cmd@v1

      - name: Install NSIS
        run: |
          iex "& {$(irm get.scoop.sh)} -RunAsAdmin"
          scoop bucket add extras
          scoop install nsis

      - name: Run composite build steps
        uses: ./.github/actions/build_init
        with:
          qt_host: ${{ matrix.qt_host }}
          qt_modules: ${{ matrix.qt_modules }}
          qt_target: ${{ matrix.qt_target }}
          qt_version: ${{ matrix.qt_version }}

      - name: Package (zip)
        run: cmake --install ${{ env.BUILD_DIR }} --prefix ${{ env.INSTALL_DIR }} --config ${{ env.BUILD_TYPE }}

      - name: Package (zip, portable)
        shell: cmd
        run: |
          cmake --install ${{ env.BUILD_DIR }} --prefix ${{ env.INSTALL_PORTABLE_DIR }} --config ${{ env.BUILD_TYPE }}
          cmake --install ${{ env.BUILD_DIR }} --prefix ${{ env.INSTALL_PORTABLE_DIR }}/bin --component portable

          call "${{ env.QT_ROOT_DIR }}\bin\qtenv2.bat"
          for /f "delims=" %%d in ( 'vswhere.exe -latest -property installationPath' ) do @( call "%%d\VC\Auxiliary\Build\vcvars64.bat" )
          chdir /d %GITHUB_WORKSPACE%\${{ env.INSTALL_PORTABLE_DIR }}\bin
          windeployqt -sql -svg --exclude-plugins qsqlibase,qsqlmimer,qsqloci,qsqlodbc,qsqlpsql --no-compiler-runtime --no-system-d3d-compiler --release qttube.exe
          copy "${{ env.QT_ROOT_DIR }}\resources\v8_context_snapshot.bin" resources\v8_context_snapshot.bin

      - name: Package (installer)
        run: |
          cmake --install ${{ env.BUILD_DIR }} --prefix ${{ env.INSTALL_PORTABLE_DIR }}/bin --component selfcontained
          cd ${{ env.INSTALL_PORTABLE_DIR }}/bin
          makensis -NOCD "${{ github.workspace }}/${{ env.BUILD_DIR }}/program_info/win_install.nsi"
          rm selfcontained.txt

      - name: Upload artifact (zip)
        uses: actions/upload-artifact@v4
        with:
          name: QtTube-${{ runner.os }}-${{ env.VERSION }}-Qt${{ matrix.qt_ver }}-${{ env.BUILD_TYPE }}
          path: ${{ env.INSTALL_DIR }}/**

      - name: Upload artifact (zip, portable)
        uses: actions/upload-artifact@v4
        with:
          name: QtTube-${{ runner.os }}-${{ env.VERSION }}-Qt${{ matrix.qt_ver }}-${{ env.BUILD_TYPE }}-Portable
          path: ${{ env.INSTALL_PORTABLE_DIR }}/bin/**

      - name: Upload artifact (installer)
        uses: actions/upload-artifact@v4
        with:
          name: QtTube-${{ runner.os }}-${{ env.VERSION }}-Qt${{ matrix.qt_ver }}-${{ env.BUILD_TYPE }}-Setup
          path: QtTube-Setup.exe
